
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  cursor: pointer;
}

.disabledProfileInput > .disabled{
  opacity: .70 !important;  
}
.disabledProfileInput > .disabled > input{
  opacity: 1 !important;
}

.disabledProfileInput{
  cursor:not-allowed;
}

.App-header {
  /* background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  font-size: 30px; */
  display: flex;
  color: black;
  align-items: center;
  padding: 25px;
  margin-left: 0;
  font-size: larger;
  font-weight: bold;
  box-shadow: 0px 6px 33px -7px rgba(16,125,236,.5);
  border-bottom:3px solid rgba(16,125,236,.7);
}

@media only screen and (min-width: 1500px){
  .App-header{
    padding:25px 200px 25px 200px;
  }
}

@media only screen and (max-width: 870px) {
    .App-header {
        flex-direction: column;
        padding: 10px;
        margin-top: 10px;
    }
    .logo{
      margin-bottom: 25px;
    }
    .ui.container{
      width: 645px !important;
    }
    .menu{
      padding: 0;
      justify-content: space-around;
    }
    .menu > li{
      width: 0;

    }

}

.logo{
  width: 250px;
  font-size: x-large;
  font-weight: bold;
  text-transform: capitalize;
  color: black !important;
}

.logo >i{
  color: rgba(16,125,236,1);
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.menu{
  color: black;
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  max-width: 600px;
}

.menu > li{
  margin-right: 20px;
}

.menu>li>a{
  text-transform: capitalize;
  color: black;
}
.card{
  align-items: center;
}
.info{
  padding:0;
  font-size: 16px;
  display: flex;
  list-style: none;
  flex-direction: column;
  align-items:flex-start;
  justify-content: space-around;
}

.footer {
  position:absolute;
  left:0;
  bottom:0;
  right:0;
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  font-size: 30px;
}

.footer-content{
  display: flex;
  list-style: none;
  color: white;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 50px;
}

.fillScreen{
  height: 65vh;
}

.formStyle{
  padding-top: 5em;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}









/*MY Styles*/
body{
  background:#FAFAFA;
}
.info-wrapper{
  margin-top: 5em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap
}

.card{
  position: relative;
  color: black;
  /* transition: box-shadow .5s; */
  width: 300px;
  padding: 20px;
  display: flex;
  margin:10px;
  background: #FFFFFF;
  box-shadow: 0px 6px 33px -7px rgba(147, 148, 170, .2);
  /* box-shadow: 0px 6px 13px -7px rgba(147, 148, 170, 0.3); */
  border-radius:5px;
  cursor: pointer;

}

.card::after{
  border-radius:5px;
  content: "";
  bottom:0;
  left:0;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  box-shadow: 0px 6px 33px -7px rgba(147, 148, 170, .5);

  transition: opacity 0.3s ease-in-out;

}
.card:hover{
    color:black;
}
.card:hover::after{
  opacity: 1;
}

/* .card:hover{
  color:black;
  //box-shadow: 0px 6px 33px -7px rgba(147, 148, 170, .5);
  //box-shadow: 0px 6px 33px -7px rgba(16,125,236,.5);
  border-bottom:1px solid rgba(16,125,236,.7);
  border:1px solid rgba(147, 148, 170, .2);
  box-shadow: 0px 6px 33px -7px rgba(81, 203, 238, .5);
  border: 1px solid rgba(81, 203, 238, .51);
} */

.cardHeader{
  display: flex;
  align-items: center;
}

.cardName{
  font-weight:bold;
  font-size:large;
}
.cardProfile{
  height:50px;
  width:50px;
  margin-right: 25px;
}
.cardProfile>img{
  max-width:100%;
  max-height:100%;
  border-radius:33px;
}

.cardMeta{
  font-size: large;
  list-style: none;
  text-align: left;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 75px;
}

.cardMeta-title{
  font-weight: bold;
  text-transform: capitalize;
  margin-right:10px;
}

.cardAdd{
  display: flex;
  justify-content: center;
}

.iconColor{
  transition:.5s;
  color: #7071747a;
}
.card:hover > .iconColor{
  color: #050404b3;
}


.profileForm{
  margin-top: 15px;
  margin-bottom: 15px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
}
.profileFormContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
}
