
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  font-size: 30px;

}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.menu{
  display: flex;
  list-style: none;
  color: white;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 50px;
}
.menu>li>a{
  text-transform: capitalize;
  color:white
}
.card{
  align-items: center;
}
.info{
  padding:0;
  font-size: 16px;
  display: flex;
  list-style: none;
  flex-direction: column;
  align-items:flex-start;
  justify-content: space-around;
}

.footer {
  position:absolute;
  left:0;
  bottom:0;
  right:0;
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  font-size: 30px;
}

.footer-content{
  display: flex;
  list-style: none;
  color: white;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 50px;
}

.fillScreen{
  height: 65vh;
}

.formStyle{
  padding-top: 5em;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}









/*MY Styles*/
body{
  background:rgba(21, 21, 21, 0.0196078431372549);
}
.info-wrapper{
  margin-top: 5em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap
}

.card{
  color: black;
  transition: .5s;
  width: 300px;
  padding: 20px;
  display: flex;
  margin:10px;
  background: white;
  box-shadow: 0px 6px 13px -7px rgba(225,226,2310,.95);
  /* box-shadow: 0px 6px 13px -7px rgba(147, 148, 170, 0.3); */
  border-radius:10px;
  border:1px solid rgba(225, 226, 255, 0.20);
  cursor: pointer;
}

.card:hover{
  box-shadow: 0px 6px 33px -7px rgba(147, 148, 170, .5);
  border:1px solid rgba(147, 148, 170, .2);
  /* box-shadow: 0px 6px 33px -7px rgba(81, 203, 238, .5);
  border: 1px solid rgba(81, 203, 238, .51); */
}

.cardHeader{
  display: flex;
  align-items: center;
}

.cardName{
  font-weight:bold;
  font-size:large;
}
.cardProfile{
  height:50px;
  width:50px;
  margin-right: 25px;
}
.cardProfile>img{
  max-width:100%;
  max-height:100%;
  border-radius:33px;
}

.cardMeta{
  font-size: large;
  list-style: none;
  text-align: left;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 75px;
}

.cardMeta-title{
  font-weight: bold;
  text-transform: capitalize;
  margin-right:10px;
}

.cardAdd{
  display: flex;
  justify-content: center;
}

.iconColor{
  color: #7071747a;
}
.card:hover > .iconColor{
  color: #050404b3;
}


.profileForm{
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
}
.profileFormContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
}
